In [8]:
import pandas as pd
import numpy as np

In [49]:
# Exploring the data

df = pd.read_csv("Mall Customer raw data.csv") 
print (df.head())
print (df.describe())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [41]:
df.shape
df.dtypes
df.isnull() # or we can use this - df.isna()

# we can use above three or the lower one
print (df.info())  # checking three things like shape of dataset , datatype of colmns and non null counts .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

In [51]:
df.nunique() # use this for detailed analysis -  df.value_counts()
# check for unique values .

CustomerID                200
Gender                      2
Age                        51
Annual Income (k$)         64
Spending Score (1-100)     84
dtype: int64

pre processing starts here

In [65]:
# Reload the dataset
df_raw = pd.read_csv("Mall Customer raw data.csv")

# Step 1: Make a copy of the original dataset
df_clean = df_raw.copy()

# Step 2: Rename columns to snake_case and remove special characters
df_clean.columns = (
    df_clean.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace(r'[^\w\s]', '', regex=True)
)

# Step 3: Check for duplicates
duplicates = df_clean.duplicated().sum()

# Step 4: Standardize gender values (title-case to lowercase)
df_clean['gender'] = df_clean['gender'].str.strip().str.lower()

# Step 5: Confirm data types
data_types = df_clean.dtypes

# Step 6: Check for outliers using simple IQR method
def detect_outliers_iqr(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return ((series < lower_bound) | (series > upper_bound)).sum()

outliers = {
    col: detect_outliers_iqr(df_clean[col])
    for col in df_clean.select_dtypes(include=['int64', 'float64']).columns
}

# Summary preview
df_clean.head(), df_clean.info(), duplicates, data_types, outliers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customerid           200 non-null    int64
 1   gender               200 non-null    object
 2   age                  200 non-null    int64
 3   annual_income_k      200 non-null    int64
 4   spending_score_1100  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

(   customerid  gender  age  annual_income_k  spending_score_1100
 0           1    male   19               15                   39
 1           2    male   21               15                   81
 2           3  female   20               16                    6
 3           4  female   23               16                   77
 4           5  female   31               17                   40,
 None,
 0,
 customerid              int64
 gender                 object
 age                     int64
 annual_income_k         int64
 spending_score_1100     int64
 dtype: object,
 {'customerid': 0, 'age': 0, 'annual_income_k': 2, 'spending_score_1100': 0})